.card {
  min-width: 200px;
  .preview {
    height: 200px;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      transition: all .5s;
      &:hover {
        transform: scale(1.3);
      }
    }
  }
  &:hover {
    box-shadow: 0 0 8px 1px #aaa;
  }
}