body{
	background-color: #34495e;
}

.container{
	width: 150px;
	height: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-wrap: wrap;
}

.item{
	margin: 2px;
	width: 45px;
	height: 45px;
	display: flex;
}

.container span{
	display: block;
	height: 10%;
	width: 10%;
	background-color: lightblue;
	margin: auto;
	/*animation: a 1s infinite;*/
}

.item1{
	animation: a 1.2s infinite;
}

.item2, .item4{
	animation: a 1.2s .1s infinite;
}

.item3, .item5, .item7{
	animation: a 1.2s .2s infinite;
}

.item6, .item8{
	animation: a 1.2s .3s infinite;
}

.item9{
	animation: a 1.2s .4s infinite;
}

@keyframes a{
	0%{
		width: 45px;
		height: 45px;
	}
	50%{
		width: 0;
		height: 0;
	}
	100%{
		width: 45px;
		height: 45px;
	}
}