body{
	padding: 0;
	margin: 0;
	background-color: #57606f;
}

.menu-wrapper{
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #d63031;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0 0 3px black;
}

.title{
	display: inline-block;
	line-height: 60px;
	width: 30%;
	text-transform: uppercase;
	background-color: yellow;
	min-width: 160px;
}

.menu{
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	height: 100%;
	padding: 0;
	margin: 0;
}

.menu-item{
	list-style: none;
	display: inline-block;
	height: 100%;
	width: 20%;
	line-height: 60px;
	cursor: pointer;
	text-align: center;
}

.menu-item:hover{
	background-color: #ff4757;
}

.toggle{
	display: none;
}

@media screen and (max-width: 600px) {
    .toggle{
    	display: inline-block;
    	height: 60px;
    	width: 2em;
    	line-height: 60px;
    	font-size: 2em;
    	cursor: pointer;
    }

	.menu{
   		display: block;
   		position: absolute;
   		top: 60px;
   		background-color: #ff6b81;
   		width: 100%;
   		display: flex;
   		flex-direction: column;
   		height: auto;
   		transition: .5s;
   	}

	.menu{
		display: none;
	}

   	.menu-item{
   		width: 100%;
   		transition: .3s;
   	}

   	.toggle:hover ~ .menu,.menu:hover{
   		display: block;
   	}

   	.menu-item:hover{
   		background-color: #ff4757;
   	}
}