html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
// .app {
//   .front{
//     .surface {
//       position: relative;
//       flex-grow: 1;
//       height: 500px;
//       box-shadow: 0 2px 5px 1px rgba(39, 60, 117, .3);
//       overflow: hidden;
//       &:before {
//         content: "";
//         display: block;
//         position: absolute;
//         top: -10px;
//         left: -10px;
//         width: 110%;
//         height: 520px;
//         background: url('../static/img/bg.jpg');
//         background-size: cover;
//         filter: blur(5px);
//       }
//       .btn {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//       }
//     }
//   }
// }

.app {
  height: 100%;
  .front {
    height: 100%;
    display: flex;
    flex-direction: column;
    .appbar {
      height: 56px;
      background-color: #50f;
    }
    .surface {
      overflow: hidden;
      position: relative;
      flex-grow: 1;
      background-size: 200% 20%;
      background-position: center;
      background: url('../static/img/bg.jpg');
      filter: blur(10px);
      z-index: -1;
      // &:before {
      //   content: "";
      //   display: block;
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   filter: blur(10px);
      //   background-size: 200% 20%;
      //   background-position: center;
      //   background: url('../static/img/bg.jpg');
      // }
    }
  }
}
