html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app {
  height: 100%;
  .front {
    height: 100%;
    display: flex;
    flex-direction: column;
    .appbar {
      height: 64px;
      background-color: #50f;
    }
    .surface {
      overflow: hidden;
      position: relative;
      flex-grow: 1;
      background-size: 200% 20%;
      background-position: center;
      // background: url('../static/img/bg.jpg');
      // filter: blur(10px);
      .welcome{
        width: 100%;
        color: rgba(52, 172, 224, 0.6);
        position: absolute;
        text-align: center;
        bottom: 10px;
        font-family: 'kavoon';
        font-size: .8rem;
      }
    }
  }
}
